@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$app-font-family: 'Roboto', sans-serif;
$app-font-size: 24px;
$app-line-height: 30px;


//colours

$app-default-color: #6699ff;
$app-default-background-color: #ffff66;
$app-default-button-color: #9966ff;
$app-recipe-item-color: #ddd;
$app-health-labels: #66ff99;
$app-cautions: #ff6666;